
@function join-media-query($query1, $query2) {
    @if $query1 and $query2 {
        @return $query1 + " and " + $query2;
    }
    @else if $query1 {
        @return $query1;
    }
    @else if $query2 {
        @return $query2;
    }
    @else {
        @return "";
    }
}

@mixin horizontal-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    & > li {
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }
}

