
$cocktail-gridrulers-color: #7e44cc;

@import "theme://";
@import "cocktail://styles/grid";

.GridRulers {
    $ruler-border: 1px solid rgba($cocktail-gridrulers-color, 0.5);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;
    pointer-events: none;

    &:target {
        display: block;
    }

    &:after {
        display: block;
        z-index: 100000;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: desaturate(lighten($cocktail-gridrulers-color, 15), 15);
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 16px;
        @include grid {
            content: '#{grid-size()}';
        }
    }

    &, * {
        box-sizing: border-box;
    }

    .columns {
        @include grid-centered;
        height: 100%;
        white-space: nowrap;

        .column {
            height: 100%;
            display: inline-block;
            vertical-align: top;

            .column_body {
                @include grid {
                    width: grid-columns(1);
                }
                display: inline-block;
                vertical-align: top;
                height: 100%;
                border-left: $ruler-border;
                background-color: rgba(lighten($cocktail-gridrulers-color, 20), 0.2);
            }

            .column_spacing {
                @include grid {
                    width: grid-spacing();
                }
                display: inline-block;
                vertical-align: top;
                height: 100%;
                border-left: 1px dotted $cocktail-gridrulers-color;
            }

            &:last-child {
                border-right: $ruler-border;
            }
        }
    }
}

