
$selection-background: #666 !default;
$selection-foreground: white !default;
$panel-background-color: #f3f1e9 !default;
$panel-background: $panel-background-color !default;
$panel-border-color: #e6e5df !default;
$strong-panel-border-color: #d4d2c7 !default;
$panel-border: 1px solid $panel-border-color !default;
$heading-color: #8c7e68 !default;
$subheading-color: #908c84 !default;
$panel-action-color: #625c47 !default;
$panel-action-highlight-color: #372f13 !default;
$panel-hover-color: #e8e4d7 !default;
$panel-shadow: 5px 5px 15px rgba(0.4,0.4,0.4,0.1) !default;
$focus-color: #c88352 !default;
$error-border-color: #ecbaba !default;
$error-border: 1px solid $error-border-color !default;
$error-background-color: #feeeee !default;
$error-background: $error-background-color !default;
$error-color: #8e2b2b !default;
$error-box-padding: 0.5em !default;

@mixin focus {
    outline: 2px auto $focus-color;
}

@mixin error-box {
    padding: $error-box-padding;
    border: $error-border;
    color: $error-color;
    background-color: $error-background-color;
}

@mixin link {
    display: inline-block;
    color: $focus-color;
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: darken($focus-color, 10);
    }

    &[disabled] {
        opacity: 0.5;
    }
}

