
@import "cocktail://styles/utils";

:host-context(.cocktail-ui-Form[formLayout='column']) {
    margin-top: 0.7em;

    .labelText {
        font-size: 0.9em;
    }
}

#entries {
    @include clear-list-styles;
    font-size: inherit;

    & > .Entry {
        white-space: nowrap;
        font-size: inherit;

        & + .Entry {
            margin-top: 0.5rem;
        }
    }
}

input {
    margin: 0;
    margin-right: 0.3rem;
}

.labelText {
    font-size: inherit;
}

