
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:host {
    box-sizing: border-box;
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
}

:host([selected='false']) {
    display: none;
}

:host-context([selectingInitialContent='false']):host([selected='true']) {
    animation: fadein .7s;
}

