
@import "cocktail.ui://styles/common";

$tab-strip-border-thickness: 1px !default;
$tab-button-vertical-offset: -1px !default;
$tab-underline-thickness: 3px !default;
$tab-active-color: $focus-color !default;
$tab-inactive-color: #777 !default;
$tab-hover-color: desaturate(lighten($tab-active-color, 5), 20) !default;
$tab-active-underline-color: $focus-color !default;
$tab-inactive-underline-color: #eee !default;
$tab-hover-underline-color: lighten($tab-active-underline-color, 25) !default;

:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#strip {
    z-index: 2;
    padding-bottom: 0;
    flex: 0 0 auto;
    border-bottom: $tab-strip-border-thickness solid $tab-inactive-underline-color;
    box-shadow: 0 0.2em 1.2em rgba(black, 0.1);

    button {
        font-size: inherit;
        color: $tab-inactive-color;
        background: none;
        padding-top: 1em;
        padding-bottom: 0.8em;
        padding-right: 1.2em;
        padding-left: 1.2em;
        border: none;
        border-bottom: $tab-underline-thickness solid;
        margin-bottom: $tab-button-vertical-offset;

        &:focus {
            outline: none;
        }

        &[selected='true'] {
            border-bottom-color: $tab-active-underline-color;
            color: $tab-active-color;
            font-weight: bold;
        }

        &[selected='false'] {
            border-bottom-color: transparent;
            color: $tab-inactive-color;
            cursor: pointer;

            &:hover {
                border-bottom-color: $tab-hover-underline-color;
                color: $tab-hover-color;
            }
        }
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    contain: content;
    background-color: white;
}

