
:host {
    box-sizing: border-box;
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    padding: 1.3rem;
}

:host([selected='false']) {
    display: none;
}

