
ins {
    background-color: #d9e5d6;
    color: #425d3b;
    text-decoration: none;
}

del {
    background-color: #eeddd8;
    color: #98351c;
    text-decoration: none;
    text-decoration: line-through;
}

