
@import "cocktail.ui://styles/common";

$tab-strip-background-color: #eae6de !default;
$tab-strip-border-color: #e1dbd2 !default;
$tab-active-background-color: #c3b091 !default;
$tab-active-border-color: darken($tab-active-background-color, 5) !default;
$tab-active-color: white !default;
$tab-inactive-background-color: #e5e0d6 !default;
$tab-inactive-border-color: #dcd2c1 !default;
$tab-inactive-color: $panel-action-color !default;
$tab-hover-background-color: darken($tab-inactive-background-color, 5) !default;
$tab-hover-color: darken($tab-inactive-color, 10) !default;

:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#strip {
    border-top: 1px solid $tab-strip-border-color;
    border-bottom: 1px solid $tab-strip-border-color;
    background-color: $tab-strip-background-color;
    padding-bottom: 0;
    flex: 0 0 auto;

    button {
        font-size: inherit;
        color: #666;
        padding: 6px 12px;
        border: 1px solid $tab-strip-border-color;
        border-right: none;
        border-left: 1px solid;
        margin-top: -1px;
        margin-bottom: -1px;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: 1px solid;
        }

        &:focus {
            outline: none;
        }

        &[selected='true'] {
            background-color: $tab-active-background-color;
            border-color: $tab-active-border-color;
            color: $tab-active-color;
            font-weight: bold;
            text-shadow: 0 0 5px rgba(black, 0.5);

            & + button {
                border-left-color: $tab-active-border-color;
            }
        }

        &[selected='false'] {
            background-color: $tab-inactive-background-color;
            background-image: linear-gradient(lighten($tab-inactive-background-color, 5), $tab-inactive-background-color);
            border-color: $tab-inactive-border-color;
            color: $tab-inactive-color;
            cursor: pointer;

            &:hover {
                color: $tab-hover-color;
                background-color: $tab-hover-background-color;
                background-image: linear-gradient(lighten($tab-hover-background-color, 5), $tab-hover-background-color);
            }
        }
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    contain: content;
    background-color: white;
}

