
@import "cocktail.ui://styles/common";

:host {
    background: $panel-background;
    border: $panel-border;
    display: flex;
    align-content: stretch;
}

:host(.secondary) {
    background: $secondary-panel-background;
    border: $secondary-panel-border;
}

:host-context(.cocktail-ui-Toolbar) {
    background: none;
    border: none;
}

:host-context(.cocktail-ui-DropdownPanel) {
    background: $panel-background;
    border: $panel-border;
}

:host(.without-frame),
::slotted(.cocktail-ui-ActionList) {
    background: transparent;
    border: none;
}

:host(.vertical) {
    flex-direction: column;
    width: 100%;
}

