
@import "cocktail.ui://styles/common";

:host {
    display: inline-block;
}

input {
    box-sizing: border-box;
}

input:not([type='checkbox']) {
    border: 1px solid $input-border-color;
    padding: $input-padding;
    width: 100%;
}

