
.field[readOnly='true'] .controlContainer {
    color: #444;
}

:host([formLayout='column']) {

    .field {

        & + .field {
            margin-top: 1em;
        }

        .label + .controlContainer {
            margin-top: 0.3em;
        }
    }
}

:host([formLayout='row']) {

    #fieldsContainer {
        display: flex;
        flex-direction: row;

        .field {
            display: flex;
            flex-direction: row;
            align-items: center;

            & + .field {
                &[formLabelDisposition='hidden'] {
                    margin-left: 1em;
                }

                &[formLabelDisposition='normal'] {
                    margin-left: 2em;
                }
            }

            &[formLabelDisposition='normal'] {
                .label + .controlContainer {
                    margin-left: 1em;
                }
            }
        }
    }
}

:host([formLayout='verticalTable']) {

    #fieldsContainer {
        display: table;

        .field {
            display: table-row;

            .label {
                display: table-cell;
            }

            .controlContainer {
                display: table-cell;
            }
        }
    }
}

:host([formLayout='horizontalTable']) {
    #fieldsContainer {
        display: flex;
        flex-direction: row;
    }
}

.field[formLabelDisposition='hidden'] .label {
    display: none !important;
}

