
@import "cocktail://styles/utils";
@import "cocktail.ui://styles/common";

:host-context(.cocktail-ui-Form[formLayout='column']) {
    margin-top: 0.7em;

    .labelText {
        font-size: 0.9em;
    }
}

#selectionControls {
    margin-bottom: 0.8em;

    :host(:not([selectionControlsVisible='true'])) & {
        display: none;
    }

    button {
        @include link;
        font-size: 0.8em;

        & + button {
            margin-left: 0.5em;
        }
    }
}

#entries {
    @include clear-list-styles;
    font-size: inherit;

    & > .Entry {
        white-space: nowrap;
        font-size: inherit;

        & + .Entry {
            margin-top: 0.5rem;
        }
    }
}

input {
    margin: 0;
    margin-right: 0.3rem;
}

.labelText {
    font-size: inherit;
}

.Entry[selected='false'] {
    .labelText {
        color: #666;
    }
}

