
@import "cocktail.ui://styles/common";

:host {
    display: flex;
    flex-direction: row;
}

.Panel {
    display: flex;
    flex-direction: column;

    & + .Panel {
        margin-left: 1em;
    }
}

.actionList {
    flex: 0 0 auto;
}

.entryList {
    flex: 1 1 auto;
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-width: 15em;
    height: 22em;
}

.Entry {
    display: block;
    padding: 0.3em 0.5em;
    margin: 0;
    font-size: 1em;
    user-select: none;
    cursor: default;

    &[selected] {
        background: $selection-background;

        .label {
            color: $selection-foreground;
        }
    }
}

#selectedEntriesPanel .Entry:not([chosen]),
#availableEntriesPanel .Entry[chosen] {
    display: none;
}

