
@import "cocktail.ui://styles/common";

$disabled-color: desaturate(lighten($panel-action-color, 25), 20);

:host {
    background-color: $panel-background-color;
    background-image: linear-gradient(lighten($panel-background-color, 20), $panel-background-color);
    color: $panel-action-color;
    padding: 0.4rem 1rem;
    border-left: 1px solid $panel-border-color;
    border-top: 1px solid $panel-border-color;
    border-right: 1px solid darken($panel-border-color, 15);
    border-bottom: 1px solid darken($panel-border-color, 15);
    border-radius: 0.2rem;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

:host(:not([disabled])) {
    cursor: pointer;
}

:host(:not([disabled]):hover) {
    background-image: linear-gradient(lighten($panel-hover-color, 20), $panel-hover-color);
    color: $panel-action-highlight-color;
}

:host([disabled]) {
    background-image: linear-gradient(lighten($panel-background-color, 10), $panel-background-color);
    border: 1px solid $panel-border-color;
    color: $disabled-color;
}

:host(:focus) {
    @include focus;
}

#icon:not(:empty) + #label:not(:empty) {
    margin-left: 0.5em;
}

#icon {

    &:empty {
        display: none;
    }

    svg {
        width: auto;
        height: 1.5em;

        * {
           fill: $panel-action-color !important;

           :host([disabled]) & {
               fill: $disabled-color !important;
            }

           :host(:not([disabled]):hover) & {
               fill: $panel-action-highlight-color !important;
           }
        }
    }
}

