
:host {
    display: flex;
    flex-direction: column;
}

:host([dataState='loading']) {

    #table {
        display: none;
    }
}

:host(:not([dataState='loading'])) {

    #loadingSign {
        display: none;
    }
}

#table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #ddd;
}

th {
    color: #645d50;
    font-size: 14px;
    padding-right: 10px;
    text-align: left;
    padding: 6px;
    font-family: inherit;
    font-size: inherit;
}

#head {
    display: block;
    flex: 0 0 auto;
    background-image: linear-gradient(white, #eee);
    border-bottom: 1px solid #ddd;
}

#headingsRow {
    display: flex;

    & > th {
        display: block;
        flex: 1;

        & + th {
            border-left: 1px solid #ddd;
        }
    }
}

#body {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    flex: 1 1 auto;

    & > tr {
        display: flex;
        // width set through javascript, to compensate for the scrollbar width

        & > td {
            display: block;
            flex: 1;
            padding: 6px;
        }

        &:nth-child(odd) {
            background-color: white;
        }

        &:nth-child(even) {
            background-color: #f8f7f5;
        }
    }
}

