
$active-border-color: #bbb;
$inactive-border-color: #c8c8c8;

:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#strip {
    border-bottom: 1px solid $active-border-color;
    padding: 4px;
    padding-bottom: 0;
    flex: 0 0 auto;

    button {
        font-size: inherit;
        color: #666;
        margin-bottom: -1px;
        padding: 6px 12px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        &:focus {
            outline: none;
        }

        &[selected='true'] {
            background-color: white;
            border: 1px solid $active-border-color;
            border-bottom-color: white;
            color: #333;
        }

        &[selected='false'] {
            background-color: #eaeaea;
            background-image: linear-gradient(#f5f5f5, #e5e5e5);
            border: 1px solid $inactive-border-color;
            border-bottom-color: $active-border-color;
            cursor: pointer;

            &:hover {
                color: #333;
                background-image: none;
                background-color: #f5f5f5;
            }
        }

        & + button {
            margin-left: 4px;
        }
    }
}

#content {
    flex: 1 1 auto;
    display: flex;
    padding: 16px;
    contain: content;
    background-color: white;
}

